
@{
    ViewBag.Title = "Acercade";
}

<h2>Acercade</h2>

<h3>Integrantes del Grupo</h3>

<h2>Ronald Sanchez</h2>
<table class="table">
    <tr>
        <td>Matricula:</td>
        <td>2017-5325</td>
    </tr>

    <tr>
        <td>Carrera:</td>
        <td>Desarrollo de Software</td>
    </tr>

    <tr>
        <td>Encagardo de Trabajar</td>
        <td>Prueba</td>

    </tr>
</table>