@model Practica_5.Models.Students
@{
    ViewBag.Title = "BusquedaConsulta";
}

@using Practica_5.Models

<h2>Elegir el Estudiante</h2>

<div class="btn-group-lg">
    <a href="../Home/Consulta1" class="btn btn-primary bg-primary">Yarlin Alejandro</a>

    <a href="../Home/Consulta2" class="btn btn-primary bg-primary">Ronald Sanchez</a>

    <a href="../Home/Consultas" class="btn btn-primary bg-primary">Todos</a>

</div>
